MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=imv_crm
MYSQL_USER=root
MYSQL_PASSWORD=
DB_HOST=db
DB_PORT=3306

# Backend Configuration
PORT=3010
JWT_SECRET=
N8N_API_KEY=

# WhatsApp / Evolution API Configuration
WHATSAPP_ADMIN_PHONE=573334006212
EVOLUTION_API_URL=https://imvevoapi.duckdns.org:8080
EVOLUTION_INSTANCE_NAME=imv_chatwoot2
EVOLUTION_API_KEY=

# Frontend Configuration
# En el VPS, cambia localhost por la IP pública o dominio
REACT_APP_API_URL=http://localhost:3010/api
